@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

body{
    height: 100vh;
    margin:0;
    background: linear-gradient(to right, rgb(74, 172, 147)50%, white 50%);
    position:relative;
}

.top-box{
    border-top: 11rem solid rgb(147,135,123);
    padding: 0.625rem;
}

.outfit-normal {
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.outfit-bold {
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: bold;
}

.title-head {
    position:absolute;
    text-align:center;
    top:-5%;
    left:50%;
    transform:translateX(-50%);
    text-align:center;
    font-size: 5.5rem;
    
}

.intro-head {
    position:absolute;
    top:18%;
    right:13%;
    text-align:left;
    font-size: 3.3rem; 
}

.intro-text{
    position:absolute;
    top:55%;
    right:4.9%;
    text-align:left;
    font-size: 1.7rem;
}

.button{
    background-color:pink;
    display:inline-block;
    color:white;
    padding:1rem 2rem;
    border-radius:0.93rem;
    text-decoration: none;
}

.button:hover{
    background-color:rgb(143, 77, 88);
}