@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

/* Deals with styling throughout the website*/
body{
    height: 100vh;
    margin:0;
    background: linear-gradient(to right, rgb(74, 172, 147)50%, white 50%);
    position:relative;
}

.outfit-normal {
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.outfit-bold {
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: bold;
}

/* All Bookmarks and the box for it*/
.top-box{
    border-top: 11rem solid rgb(147,135,123);
    padding: 0.625rem;
}

.intro-bookmark{
    position:absolute;
    top:14%;
    left:39%;
    font-size: 1.5rem;
}

.about-me-bookmark{
    position:absolute;
    top:14%;
    left:50%;
    transform:translateX(-50%);
    text-align:center;
    font-size: 1.5rem;
}

.all-links-bookmark{
    position:absolute;
    top:14%;
    left:54%;
    font-size: 1.5rem;
}

/* Intro and Title*/

.title-head {
    position:absolute;
    text-align:center;
    top:-5%;
    left:50%;
    transform:translateX(-50%);
    text-align:center;
    font-size: 5.5rem;
    
}

.intro-pic{
    position:absolute;
    top:60%;
    left:10%;
    transform:translateY(-50%);
}

.bookmark-spacing{
    position:block;
    height:6.25rem;
    margin-top:-6.25rem;
    visibility:hidden;
}

.intro-head {
    position:absolute;
    scroll-margin-top:100%;
    top:28%;
    right:13%;
    text-align:left;
    font-size: 3.3rem; 
}

.intro-text{
    position:absolute;
    top:70%;
    right:4.9%;
    text-align:left;
    font-size: 1.7rem;
}

/* About Me */
.about-me-head{
    position:absolute;
    top:130%;
    right:24.7%;
    text-align:left;
    font-size: 3.3rem;
}

.about-me-text{
    position:absolute;
    top:160%;
    right:9.8%;
    text-align:left;
    font-size: 1rem;
}

/* Get all my links and contacts */
.outer-box {
    height: 100vh;
    background-color: rgb(36, 226, 201);
    position:relative;
    top:230%;
    margin: 0;
    padding: 0;
    display:grid;
    grid-template-rows: auto 1fr;
}

.all-links-head{
    position:absolute;
    left:50%;
    transform:translateX(-50%);
    text-align:center;
    font-size: 3.3rem;   
}

.contact-box {
    grid-row:2;
    align-self: center;
    justify-self: center;
    width: 70%; 
    height: 50%;
    background-color: rgb(34, 126, 113);
    border-radius:1.5rem;
    transform:translateX(8rem);
}

.contact-head{
    text-decoration: underline;
    font-size: 2rem;
    text-align: center;
}

.contact-text{
    font-size: 1.5rem;
    text-align: center;
}

.link-box {
    grid-row: 2;
    align-self: center;
    justify-self: center;
    width: 60%;
    height: 25%;
    background-color: rgb(34, 126, 113);
    text-align:center;
    border-radius:1.5rem;
    justify-content: space-between;
    display:flex;
    align-items: center;
    padding:0 5rem;
    transform:translateX(0rem);
}

/* Buttons */
.button{
    background-color:pink;
    display:inline-block;
    color:white;
    padding:2rem 2rem;
    border-radius:50%;
    text-decoration: none;
    width:7rem;
    height:7rem;
}

.button:hover{
    background-color:rgb(143, 77, 88);
}